.footer {
  padding-top: 67px;
  //padding-bottom: 20px;
  background-color: $backgroundSegundaryDark;

  // "p, h1, h2,h3,h4": {
  //   color: "#fff",
  // },
  .boxs {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }
  .content-logo {
    order: 1;
    display: flex;
    flex-grow: 1;
  }
  .content-contact,
  .content-others {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    order: 4;
    h5 {
      color: $primary;
      font-size: $footer-title-size;
      padding-left: 16px;
      padding-right: 16px;
      white-space: nowrap;
    }
    ul {
      display: flex;
      flex-direction: column;
      padding-left: 0;
      li {
        display: block;
        a {
          display: block;
          text-decoration: initial;
          color: $backgroundSegundaryContrastText;
          padding-left: 16px;
          padding-right: 16px;
          margin-bottom: 6px;
          img {
            height: 13px;
            margin-right: 5px;
          }
          &:hover {
            text-decoration: underline;
            color: $primary;
          }
        }
      }
    }
  }
  .content-others {
    margin-top: 0;
    display: flex;
    order: 2;
    //width: 30%;
    ul {
      flex-wrap: wrap;
      flex-direction: row;
      display: grid;
      grid-template-columns: auto auto auto;
      gap: 5px 50px;
      li {
        a {
          margin-bottom: 0;
          white-space: nowrap;
        }
      }
    }
    li {
      width: 50%;
    }

    &.content-two {
      order: 3;
    }
  }
  .grid-info {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px 50px;
  }
  //TODO otra linea
  .content-by {
    flex-grow: 1;
    order: 1;
    display: flex;
  }
  .content-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    order: 2;
    width: 60%; ////
    max-width: 180px;
    padding-top: 30px;
    img {
      height: 18px;
    }
  }
  .content-develop {
    background-color: $backgroundSegundary;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 100;
  }
}

@media (max-width: $sm) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: $fontNoirProNoirProLight;
    .boxs {
      flex-direction: column;
      align-items: flex-start;
    }
    .content-logo {
      order: 1;
      display: flex;
      margin: auto;
    }
    .content-contact,
    .content-others {
      margin-top: 40px;
      order: 2;
      h5 {
        //font-size: 16px;
        padding-left: 0;
        padding-right: 0;
      }
      ul {
        li {
          a {
            padding-left: 0px;
            padding-right: 0px;
          }
        }
      }
    }
    .content-others {
      width: initial;
      margin-top: 20px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      ul {
        display: grid;
        gap: 20px;
        grid-template-columns: auto auto;
        gap: 5px 50px;
        li { 
          a { 
            white-space: normal;
          }
        }
      }
      li {
        width: initial;
      }
    }
    .content-contact {
      order: 3;
      margin: auto;
    }
    .grid-info {
      display: grid;
      grid-template-columns: auto;
      gap: 5px 50px;
    }
    //TODO otra linea
    .content-by {
      flex-grow: 1;
      order: 2;
      margin: auto;
    }
    .content-social {
      margin: auto;
      // {{ order: { xs: 1, md: 2 }, width: { xs: "60%"}, maxWidth: {md: "180px"}, paddingTop: {xs:"40px", md: "30px"} }}
      order: 1;
      width: 60%; ////
      max-width: initial;
      padding-top: 20px;
      img {
        height: 25px;
      }
    }
  }
}

@media (min-width: $sm) and (max-width: $md) {
  .footer {
    .content-others {
      //min-width: 395px;
      ul {
        grid-template-columns: auto auto;
        gap: 5px 0px;
        li {
          a {
            white-space: normal;
          }
        }
      }
    }
  }
}
