.gallery-residential-container {
  position: relative;
  padding-top: 89px;
  padding-bottom: 101px;
  p,
  h1,
  h2,
  h3,
  h4,
  div {
    color: $backgroundPrimaryContrastText;
  }
  .title {
    padding-bottom: 25px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 33px;
  }
  .description {
    padding-bottom: 23px;
    text-align: center;
    margin-bottom: 0;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
  }
  @media (max-width: $sm) {
    padding-top: 55px;
    padding-bottom: 51px;
    .title {
      font-size: $header-h2-font-size-mobileB;
      padding-left: 45px;
      padding-right: 45px;
      padding-bottom: 20px;
    }
    .description {
      font-size: $description-mobileB;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 27px;
    }
    .container-slide {
      max-width: 303px;
      margin: auto;
    }
  }
}
