.html-blog-preview-body {
  .header-blog
    .content-slide
    .slick-initialized
    .slick-slide
    div
    .content-img
    img {
    filter: brightness(100%);
    object-fit: cover;
  }
  .nav-right-options-blog {
    display: flex;
    flex-direction: column;
    gap: 120px;
    padding-top: 60px;
  }
  .preview-body {
    padding-right: 45px;
  }
  .container-form {
    border: 1px solid $backgroundSegundaryLight;
    padding: 30px 22px;
    .title {
      font-size: 19px;
    }
  }
  .blog-preview-content {
    > .title {
      font-family: $fontNoirProMedium;
      font-size: 20px;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .blog-preview-content-items {
    display: flex;
    flex-direction: column;
    gap: 37px;
    .card-topblog {
      text-decoration: none;
      border-radius: 0;
      box-shadow: 4.9px 3.4px 16px 0 rgba(40, 52, 21, 0.15);
      .card-img-top {
        border-radius: 0;
        height: 155px;
        object-fit: cover;
      }
      .card-title {
        font-family: $fontNoirProMedium;
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
      }
      .card-body {
        padding: 11px 15px 15px 15px;
      }
    }
  }
  @media (max-width: $sm) {
    .container-form {
      border: 2px solid $backgroundSegundaryLight;
      padding: 21px 30px;
      .title {
        font-size: 19px;
        text-align: center;
      }
      .id_form_contact_us {
        padding: 0 30px;
      }
    }
    .preview-body {
      padding-right: 0;
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: 20px;
      }
    }
    .nav-right-options-blog {
        gap: 62px;
    }
    .blog-preview-content-items {
        .card-topblog {
            .card-img-top {
            }
            .card-title {
              text-align: center;
            }
            .card-body {
            }
          }   
    }
  }
  @media (min-width: $md) {
    .header-blog
      .content-slide
      .slick-initialized
      .slick-slide
      div
      .content-img {
      --heigth-blog-home: 586px;
      img {
        height: 586px;
      }
    }
  }
}
