.not-found-container {
    position: relative;
    background-color: $backgroundSegundary;
    p,
    h1,
    h2,
    h3,
    h4 {
      color: $backgroundSegundaryContrastText;
    }
    h1,
    h2,
    h3,
    h4 {
      text-align: center;
      text-transform: uppercase;
      font-size: 40px;
      margin-bottom: 0;
      strong,
      bold {
        font-size: 55px;
      }
    }
    img {
        max-width: 280px;
    }
    @media (max-width: $sm) {
      h1,
      h2,
      h3,
      h4 {
        font-size: $header-h2-font-size-mobile;
        strong,
        bold {
          font-size: $header-h2-strong-font-size-mobile;
        }
        padding-bottom: 44px;
      }
    }
  }