.container-own-proyects {
  position: relative;
  padding-top: 107px;
  padding-bottom: 107px - 15px;
  background-color: $backgroundSegundary;
  p,
  h1,
  h2,
  h3,
  h4 {
    color: $backgroundSegundaryContrastText;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 30px;
    strong,
    bold {
      font-family: $fontNoirProMedium;
      font-weight: 100;
    }
  }

  h3,
  h4 {
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
  }

  .description {
    max-width: 681px;
    margin: auto;
  }
  .proyects-container-inside {
    margin-top: 83px;
  }
  @media (max-width: $sm) {
    h1,
    h2,
    h3,
    h4 {
      font-size: 32px;
      padding-bottom: 10px;
      strong,
      bold {
        display: block;
        font-size: 32px;
        font-family: $fontNoirProSemiBold;
      }
    }
    .margin-top-double {
      margin-top: 0;
    }
    .proyects-container-inside {
      margin-top: 43px;
    }
  }
  @media (min-width: $sm) and (max-width: $md) {
    .size-img {
      object-fit: cover;
    }
    .subtitle {
      font-size: 41px;
    }
  }
}
