.press-contact-container-list {
  position: relative;
  padding-top: 115px;
  padding-bottom: 74px;
  background-color: $backgroundPrimary;
  color: $backgroundPrimaryContrastText;

  .press {
    display: flex;
    flex-direction: row;
    padding: 41px 0;
    .content-left {
      border-right: 3px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(43% - 3px); //3px del border
      cursor: pointer;
      .size-logo {
        width: 100%;
        max-width: 316px;
      }
    }
    .content-right {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-left: 110px;
      width: calc(57% - 3px); //3px del border
      .title {
        font-size: 25px;
        text-transform: uppercase;
        font-family: $fontNoirProMedium;
        margin-bottom: 16px;
      }
      .description {
      }
      .link-more {
        cursor: pointer;
        font-size: 20px;
        color: $primary;
        text-decoration: underline;
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

    .next-page,
    .prev-page {
      filter: invert(1);
      background-color: transparent;
      border: 0;
      &:active {
        filter: invert(0.5);
      }
    }
    .circle {
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: black;
    }
    .content-circle {
      display: flex;
      gap: 5px;
    }
  }
  &.product-list-container {
    .title {
      color: $backgroundPrimaryContrastText;
      margin-bottom: 30px;
    }
    .container-custom {
      .body-items {
        display: flex;
        gap: 30px;
        justify-content: space-between;
        flex-wrap: wrap;
      }
    }
  }
  @media (max-width: $sm) {
    padding-top: 66px;
    padding-bottom: 92px;
    .press {
      flex-direction: column;
      padding: 29px 0;
      .content-left {
        border-right: 0;
        width: 100%;
        .size-logo {
          margin-bottom: 37px;
          max-width: 206px;
        }
      }
      .content-right {
        width: 100%;
        padding-left: 0;
        align-items: center;
        .title,
        .description {
          text-align: center;
        }
        .title {
          margin-bottom: 28px;
        }
        .description {
          margin-bottom: 23px;
        }
        .link-more {
          margin-bottom: 40px;
        }

        .m-border {
          width: 80%;
          border-bottom: 4px solid $primary;
        }
      }
    }

    &.product-list-container {
      .container-custom {
        .body-items {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  @media (min-width: $sm) and (max-width: $md) {
    .press {
      .content-left {
        .size-logo {
          max-width: 206px;
        }
      }
      .content-right {
        padding-left: 55px;
      }
    }
  }
}


#modal_product {
  .press {
    display: flex;
    flex-direction: column;
    padding: 0;
    .content-left {
      border-bottom: 3px solid $primary;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .size-logo {
        width: 100%;
        max-width: 316px;
      }
    }
    .content-right {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      padding-top: 30px;
      padding-left: 5%;
      padding-right: 5%;
      .title {
        font-size: 25px;
        text-transform: uppercase;
        font-family: $fontNoirProMedium;
        margin-bottom: 16px;
        color: $backgroundPrimaryContrastText;
      }
      .description {
        color: $backgroundPrimaryContrastText;
        font-size: 15px;
        font-weight: 100;
      }
      .link-more {
        cursor: pointer;
        font-size: 20px;
        color: $primary;
        text-decoration: underline;
      }
    }
  }
  .video-container {
    min-width: 270px;
    max-width: 600px;
    width: 100%;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    cursor: pointer;
    .size-img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    iframe {
      height: 100%;
      max-height: 320px;
      width: 100%;
    }
    .btn-click-play {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 90px;
      height: 90px;
      opacity: 1;
      transition: all 0.5s;
      svg {
        font-size: 90px;
      }
      &:hover {
        color: $primary;
      }
      &:active {
        color: $secondary;
      }
    }
    &:hover {
      .btn-click-play {
        opacity: 1;
      }
    }
  }
}

// 805 - 111
// 695 = 100%
// 109 = 15%
