.proyects-container {
    position: relative;
    padding-top: 54px;
    padding-bottom: 62px;
    background-color: $backgroundPrimary;
    p, h1, h2, h3, h4, div {
        color: $backgroundPrimaryContrastText;
    }

    h1, h2, h3, h4 {
        //text-align: center;
        text-transform: uppercase;
        font-size: 26px;
        strong, bold {
            font-size: 50px;
        }
    }

    .button-link {
        width: fit-content;
    }
    .proyects {
        --margenes: calc((100vw - 1164px) / 2);
        padding-left: var(--margenes);
        padding-right: var(--margenes);
        .container-body {
            display: flex;
            align-items: stretch;
            width: 100%;
            .container-info {
                width: 43%;
            }
            .container-slide {
                margin-right: calc(var(--margenes) * -1);
                width: calc(57% + var(--margenes));
            }
        }
    }
    .container-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .container-info {
            .container-info-body {
                display: flex;
                align-items: stretch;
                height: 100%;
                flex-direction: column;
                justify-content: center;
                padding-right: 60px;

                .description {
                    text-align: justify;
                    max-width: 363px;
                }
                .button-link {
                    font-size: 20px;
                }
            }
        }
        .container-slide {
            background-color: $backgroundPrimary;
            width: 100%;
            z-index: 1;
            //height: 761px;
            overflow: hidden;
        }
    }

    @media (max-width: $sm) {
        padding-top: 38px;
        padding-bottom: 76px;
        h1, h2, h3, h4 {
            strong, bold {
                font-size: $header-h1-font-size-mobile;
            }
        }
        .proyects {
            padding-left: 30px;
            padding-right: 30px;
            .container-body {
                width: 100%;
                .container-info {
                    width: 100%;
                    h2 {
                        max-width: 330px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 22px;
                    }
                    .container-info-body {
                        .description {
                            margin-bottom: 23px;
                            padding-bottom: 0;
                            text-align: center;
                            max-width: initial;
                        }
                    }
                }
                .container-slide {
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
        
        .container-body {
            flex-direction: column;
            .container-slide {
                height: initial;
            }
            .slick-track {
                height: 656px;
            }
            // .slide-information-develop .slick-arrow {
            //     height: initial;
            //     z-index: 10;
            // }
            .container-info {
                width: 100%;
                .container-info-body {
                    padding-right: 0;
                    text-align: center;
                    .description {
                        font-size: $font-proyectos-inmobiliarios-home-description-mobile;
                    }
                }
            }
        }
    }

    @media (min-width: $sm) and (max-width: $md) {
        padding-bottom: 109px;
        h1, h2, h3, h4 {
            strong, bold {
                font-size: $header-h1-font-size-mobile;
            }
        }
        .proyects {
            padding-left: 30px;
            padding-right: 30px;
            .container-body {
                width: 100%;
                .container-info {
                    width: 100%;
                    h2 {
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 15px;
                    }
                    .container-info-body {
                        .description {
                            padding-bottom: 20px;
                            text-align: center;
                            margin: auto;
                        }
                    }
                }
                .container-slide {
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
        
        .container-body {
            flex-direction: column;
            .container-slide {
                height: initial;
            }
            .slick-track {
                height: 656px;
            }
            // .slide-information-develop .slick-arrow {
            //     height: initial;
            //     z-index: 10;
            // }
            .container-info {
                width: 100%;
                .container-info-body {
                    padding-right: 0;
                    text-align: center;
                }
            }
        }
    }

    @media (min-width: $md) and (max-width: 1195px) {
        .proyects {
            padding-left: $paddingsiteX;
            padding-right: $paddingsiteX;
            .container-body {
                width: 100%;
                .container-info {
                    width: 100%;

                }
                .container-slide {
                    width: 100%;
                    margin-right: 0;
                    margin-left: 0;
                }
            }
        }
    }
}